@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;600&display=swap");

:root {
  --lime: #86c232;
  --darklime: #61892f;
  --black: #040908;
  --charcoal: #222629;
  --white: #edeae5;
  --mint: #c5d8a4;
  --darkpink: #ab564d;
  --formwhite: #f8f6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
  text-decoration: none;
  transition: all 0.2s linear;
  outline: none;
}

*::selection {
  background: var(--lime);
  color: var(--black);
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: var(--white);
  overflow-x: hidden;
  padding-left: 35rem;
}

.section {
  min-height: 100vh;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: var(--mint);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .hero img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--lime);
}

header .hero .hero-name {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}

header .hero .title {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--black);
}

header .navbar {
  width: 100%;
  justify-content: center;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 2rem;
}

header .navbar ul li a {
  display: block;
  width: 15rem;
  padding: 1rem;
  margin: 1.5rem 0;
  background: var(--white);
  color: var(--black);
  font-size: 2.5rem;
  border-radius: 10% 0;
}

header .navbar ul li a:hover {
  background: var(--charcoal);
  color: var(--white);
  text-decoration: none;
  outline: 0.2rem solid var(--lime);
}

header .navbar ul li a:focus {
  background: var(--black);
  color: var(--white);
  outline: 0.2rem dotted var(--lime);
  border-radius: 10% 0;
}

.navbar ul li i {
  font-size: 2rem;
  margin-left: .8rem;
}

button {
  border-color: var(--lime);
  border-radius: 10% 0;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--charcoal);
  color: var(--white);
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

#menu:hover {
  background: var(--white);
  color: var(--black);
  outline: 0.1rem dotted var(--lime);
  border-radius: 10% 0;
}

#menu:focus {
  background: var(--white);
  color: var(--black);
  outline: 0.2rem dotted var(--lime);
  border-radius: 10% 0;
}

.home {
  color: var(--black);
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.7rem 3rem;
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.2rem solid var(--darklime);
  color: var(--black);
}

.sub-heading {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 3rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
  border-bottom: 0.2rem solid var(--darklime);
  color: var(--charcoal);
}

.xp-text {
  font-size: 2rem;
  color: var(--black);
}

.heading span {
  color: var(--lime);
  
}

.logo-container img{
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: auto;
  width: 17rem;
}

.home h1 {
  padding-top: 3rem;
  font-size: 5rem;
  color: var(--black);
}

.home h1 span {
  color: var(--darklime);
}

.home h2 {
  color: var(--darkpink);
  font-size: 2.7rem;
  font-weight: 500;
  font-style: italic;
  border-top: .3rem solid var(--charcoal);
}

.home h3 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-style: italic;
  color: var(--charcoal);
}

.home p {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.btn {
  padding: 0.7rem 3rem;
  background: var(--mint);
  color: var(--black);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 10% 0;
}

.btn:focus {
  background: var(--black);
  color: var(--white);
  outline: 0.2rem dotted var(--lime);
  border-radius: 10% 0;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
  outline: 0.2rem dotted var(--darklime);
  border-radius: 10% 0;
}

.btn i {
  margin-left: .5rem;
}

.about .about-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .about-column .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .about-column .info h3 {
  color: var(--black);
  font-size: 2.2rem;
  font-weight: 600;
}

.about .about-column .info span {
  font-size: 2.5rem;
  color: var(--darkpink);
}

.container {
  padding: 3rem;
  justify-content: center;
}

.card {
  background-color: var(--black);
  color: var(--mint);
  box-shadow: 0.3rem 0.2rem rgba(34, 38, 41, 0.7);
  border-radius: 10% 0;
}

.card-img-top {
  padding: 3rem;
  font-size: 15rem;
  text-align: center;
}

.card-header {
  background-color: var(--charcoal);
  color: var(--lime);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.card-text {
  font-size: 2rem;
  color: var(--white);
}

.card-title {
  color: var(-mint);
  font-size: 2.5rem;
  font-weight: 500;
}

.xp-icons {
  padding: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.xp-space {
  margin-left: 3rem;
  margin-bottom: 3rem;
  color: var(--black);
  font-size: 3rem;
}

.xp-space::before {
  margin-right: 0.3em;
}

.socials {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.icon-style {
  margin-left: 3rem;
  margin-bottom: 3rem;
  color: var(--black);
  font-size: 3.5rem;
  display: block;
}

.icon-style:hover {
  color: var(--lime);
  text-decoration: none;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  border: 0.2rem solid var(--charcoal);
  border-radius: 5px;

}

.icon-style:focus {
  color: var(--lime);
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  border: 0.2rem solid var(--charcoal);
  border-radius: 5px;
}

.icon-style > h3 {
  color: var(--black);
  font-size: 2.3rem;
}

.center {
  text-align: center;
  width: 100%;
}

.form-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  color: var(--black);
  font-weight: 600;
  background-color: var(--formwhite);
  border-style: solid;
  border-color: var(--darklime);
  border-radius: 5px;
  justify-content: center;
}

input {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem solid var(--black);
  border-radius: 5px;
  display: block;
  justify-content: center;
}

input[type="email"] {
  width: 90%;
  height: auto;
  color: var(--black);
  font-size: 2rem;
  background-color: var(--white);
}

input:focus {
  background-color: var(--formwhite);
  color: var(--black);
  border: 3px dotted;
  border-color: var(--lime);
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(134, 194, 50, 0.2);
}

textarea {
  color: var(--black);
  font-size: 2rem;
  background-color: var(--white);
  border: 0.2rem solid var(--black);
  border-radius: 5px;
}

textarea:focus {
  background-color: var(--formwhite);
  color: var(--black);
  border: 3px dotted;
  border-color: var(--lime);
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(134, 194, 50, 0.2);
}
.textinput {
  width: 90%;
  height: auto;
  padding: 1rem;
}

label {
  color: var(--black);
  font-size: 2rem;
}

button[type="submit"] {
  width: 30%;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

button[type="submit"]:focus {
  background-color: var(--charcoal);
  color: var(--formwhite);
  border: 3px dotted;
  border-color: var(--lime);
  border-radius: 10% 0;
  box-shadow: 0px 0px 10px rgba(134, 194, 50, 0.5);
}

button[type="submit"]:hover {
  background-color: var(--charcoal);
  color: var(--formwhite);
  border: 3px dotted;
  border-color: var(--lime);
  border-radius: 10% 0;
  box-shadow: 0px 0px 10px rgba(134, 194, 50, 0.5);
}

/* begin media queries */
@media (max-width: 1740px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 950px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }

  html {
    font-size: 55%;
  }

  .logo-container {
    display: block;
    margin: 0;
    padding: 0;
  }

  .home h2 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .about-column {
    width: 100%;
  }

  .home h2 {
    text-align: left;
  }
}
